
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@section DefaultHeader{
    <ul class="uk-breadcrumb">
        <li>
            <a asp-controller="Admin" asp-action="Index">All</a>
        </li>
        <li>
            <span href="">Edit division</span>
        </li>
    </ul>
}

<h2>Admin Home</h2>



