@model WePlayBall.Models.Team

@{
    ViewData["Title"] = "Edit: " + Model.TeamName;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section DefaultHeader{
    <ul class="uk-breadcrumb">
        <li>
            <a asp-controller="Admin" asp-action="TeamsAll">All</a>
        </li>
        <li>
            <span href="">Edit Team</span>
        </li>
    </ul>
}

<form asp-action="TeamEdit">
    <fieldset class="uk-fieldset">
        <legend class="uk-legend">Edit team</legend>
        <div asp-validation-summary="ModelOnly" class="uk-form-danger"></div>
        <input type="hidden" asp-for="Id" />

        <div class="uk-margin">
            <input asp-for="TeamName" class="uk-input" placeholder="Team name" />
            <span asp-validation-for="TeamName" class="uk-form-danger"></span>
        </div>

        <div class="uk-margin">
            <input asp-for="TeamCode" class="uk-input" placeholder="Unique four letter code for this new team" />
            <span asp-validation-for="TeamCode" class="uk-form-danger"></span>
        </div>

        <div class="uk-margin">
            <select asp-for="SubDivisionId" class="uk-select" asp-items="ViewBag.SubDivision"></select>
        </div>

        <div class="uk-margin">
            <input asp-for="Address" class="uk-input" placeholder="Team Address" />
            <span asp-validation-for="Address" class="uk-form-danger"></span>
        </div>
        
        <div class="uk-margin">
            <input asp-for="PostCode" class="uk-input" placeholder="PostCode" />
            <span asp-validation-for="PostCode" class="uk-form-danger"></span>
        </div>
        
        <div class="uk-margin">
            <input asp-for="Website" class="uk-input" placeholder="Website" />
            <span asp-validation-for="Website" class="uk-form-danger"></span>
        </div>
        
        <div class="uk-margin">
            <a asp-action="AddTeamLogo" asp-controller="Admin" asp-route-id="@Model.Id">Edit Logo</a>
        </div>

        <div class="uk-margin">
            <input type="submit" value="Update" class="uk-button uk-button-primary" />
        </div>

    </fieldset>
</form>

<div>
    <a asp-controller="Admin" asp-action="TeamsAll">Back to List</a>
</div>



