@model WePlayBall.Models.Team

@{
    ViewData["Title"] = "New Team";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section DefaultHeader{
    <ul class="uk-breadcrumb">
        <li>
            <a asp-controller="Admin" asp-action="Index">All</a>
        </li>
        <li>
            <span href="">New Team</span>
        </li>
    </ul>
}

<form asp-action="TeamCreate">
    <fieldset class="uk-fieldset">
        <legend class="uk-legend">Add new team</legend>
        <div asp-validation-summary="ModelOnly" class="uk-form-danger"></div>

        <div class="uk-margin">
            <input asp-for="TeamName" class="uk-input" placeholder="team name" />
            <span asp-validation-for="TeamName" class="uk-form-danger"></span>
        </div>

        <div class="uk-margin">
            <input asp-for="TeamCode" class="uk-input" placeholder="Unique four letter code for this new team" />
            <span asp-validation-for="TeamCode" class="uk-form-danger"></span>
        </div>

        <div class="uk-margin">
            <select asp-for="SubDivisionId" class="uk-select" asp-items="ViewBag.SubDivision"></select>
        </div>


        <div class="uk-margin">
            <input type="submit" value="Create" class="uk-button uk-button-primary" />
        </div>

    </fieldset>
</form>



<div>
    <a asp-action="TeamsAll" asp-controller="Admin">Back to List</a>
</div>





