@{
    ViewData["Title"] = "Home Page";
}

<!-- start: uk-section-lines -->
<div class="uk-section-lines" uk-scrollspy="cls:uk-animation-slide-top-small; delay: false;">
    <div data-src="../images/assets/home-hero-bg.svg"
         class="uk-background-norepeat uk-background-center-center uk-background-image@s uk-background-fixed uk-section uk-section-large uk-padding-remove-top uk-flex uk-flex-middle"
         width="" height="" uk-img>
        <!-- start: uk-width-1-1 -->
        <div class="uk-width-1-1">
            <div class="uk-container">
                <div class="tm-header-placeholder uk-margin-remove-adjacent" style="height: 106px;"></div>

                <!-- start: uk-grid-margin uk-grid-stack -->
                <div class="uk-grid-margin uk-grid-stack" uk-grid>
                    <div class="uk-width-1-1@m">
                        <!-- start: uk-grid-margin uk-grid-stack -->

                        <h1 class="uk-text-center uk-heading-primary" uk-scrollspy="cls:uk-animation-slide-bottom-medium;">
                            Organize Your Life
                        </h1>

                        <div class="uk-margin-medium uk-width-xxlarge uk-margin-auto uk-text-center" uk-scrollspy="cls:uk-animation-slide-bottom-medium;">
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                            aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet.
                        </div>

                        <div class="uk-margin uk-text-center">
                            <a class="uk-button uk-button-primary uk-button-large" href="#features" uk-scrollspy="cls:uk-animation-slide-bottom-medium;">
                                LET'S GO!
                            </a>
                        </div>

                    </div>
                </div>
                <!-- end: uk-grid-margin uk-grid-stack -->
            </div>
        </div>
        <!-- end: uk-width-1-1 -->
    </div>
</div>
<!-- end: uk-section-lines -->


<!-- start: features -->
<div id="features" class="uk-section-default uk-section-lines uk-section-xlarge" uk-scrollspy="cls:uk-animation-slide-bottom-medium; delay: 200">
    <!-- start: uk-container -->
    <div class="uk-container">
        <!-- start: uk-grid-margin-large uk-container -->
        <div class="uk-grid-margin-large uk-container">
            <div class="uk-grid-large" uk-grid>
                <!-- start: uk-width-expand@m uk-grid-item-match -->
                <div class="uk-width-expand@m uk-grid-item-match">
                    <div class="uk-grid-item-match">
                        <div class="uk-tile uk-grid-item-match uk-flex-middle uk-background-norepeat uk-background-center-left uk-background-image@m"
                             data-src="../images/assets/home-features-bg-01.svg" uk-img uk-parallax="bgy: 170,0">
                            <div class="uk-panel">
                                <div class="uk-margin uk-text-center" uk-scrollspy="cls:uk-animation-slide-bottom;">
                                    <img class="" alt="" data-src="../images/assets/home-ball-icon.png"
                                         data-srcset="../images/assets/home-ball-icon.png 620w,
	                                        ../images/assets/home-ball-icon.png 768w,
	                                        ../images/assets/home-ball-icon.png 1024w,
	                                        ../images/assets/home-ball-icon.png 1240w"
                                         data-sizes="(min-width: 620px) 620px"
                                         data-width="1240" data-height="1360" uk-img
                                         src="~/images/assets/home-ball-icon.png"
                                         sizes="(min-width: 620px) 620px"
                                         srcset="../images/assets/home-ball-icon.png 620w,
	                                        ../images/assets/home-ball-icon.png 768w,
	                                        ../images/assets/home-ball-icon.png 1024w,
	                                        ../images/assets/home-ball-icon.png 1240w" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end: uk-width-expand@m uk-grid-item-match -->
                

                <!-- start: uk-width-expand@m uk-grid-item-match uk-flex-middle -->
                <div class="uk-width-expand@m uk-grid-item-match uk-flex-middle">
                    <div class="uk-panel">
                        <h2 class="uk-width-xlarge@s uk-margin-auto uk-text-left@m uk-text-center uk-h1" uk-scrollspy="cls:uk-animation-slide-bottom;">
                            Get a Detailed Overview Of All Your Projects
                        </h2>
                        <div class="uk-margin-medium uk-width-xlarge uk-margin-auto uk-text-left@m uk-text-center" uk-scrollspy="cls:uk-animation-slide-bottom;">
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, 
                            sed diam voluptua. Lorem ipsum dolor sit.
                        </div>
                        <div class="uk-margin-large uk-width-xlarge uk-margin-auto uk-text-left@m uk-text-center" uk-scrollspy="cls:uk-animation-slide-bottom;">
                            <a class="el-content uk-button uk-button-primary" href="#">
                                Learn More    
                            </a>
                        </div>
                    </div>
                </div>
                <!-- end: uk-width-expand@m uk-grid-item-match uk-flex-middle -->
            </div>
        </div>
        <!-- end: uk-grid-margin-large uk-container -->
    </div>
    <!-- end: uk-container -->
</div>
<!-- end: features -->


